@model IEnumerable<FinalProject.Models.Transaction>

@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section style="margin-left:50px;margin-top:30px">
    <div style="font-size:35px">Transactions</div>
    <div style="width:1080px;margin-top:20px;">
        @*border:1px solid gray;border-radius:10px;padding:30px;background-color:white"*@
        <table class="table table-bordered table-hover table-striped  ">
            <thead class="bg-white">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentMode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderId)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.TransactionStatus)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.TransactionAmount)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.PaymentMode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>